@media (max-width: 900px) {
  /* #about .about-content {
    display: block;
  } */

  /* #about .about-content .about-image img {
    display: none;
  } */

  #services .services-right img:last-child {
    display: none;
  }

  #home {
    padding: 0;
  }
  #home,
  #about,
  #services,
  #contact {
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
  #home .home-container-right-left img,
  #home .home-container-right-right img {
    width: 170px;
    width: 200px;
    width: 220px;
    width: 90%;
  }

  .container {
    padding: 2rem 2rem;
    max-width: 820px;
  }

  #home .home-container-right-right {
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: center;
  }
  .home-contact {
    font-size: 1.5rem;
  }

  /* #about .about-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  } */

  #about .about-right {
    display: none;
  }
}

/* Ipad and below */
@media (max-width: 992px) {
  #navbar .container {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 2rem;
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .services-left h1 {
    font-size: 24px;
  }

  #home .home-container-right-left,
  #home .home-container-right img {
    display: none;
  }

  #home .home-container-right {
    display: grid;
    grid-template-columns: 1fr;
  }

  .phone {
    display: none;
  }

  .phone-mobile {
    display: block;
    color: #fff;
    font-size: 1rem;
    border: 1px solid #fff;
    padding: 7px 10px;
    margin-top: 1.25rem;
  }

  #navbar ul li a {
    margin-right: 1rem;
  }

  .container {
    max-width: 540px;
  }

  #copyright {
    font-size: 12px;
  }
}
