* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
  /* font-weight: bold; */
  background-color: #f3f3f3;
  background-color: #edeef0;
}

a {
  text-decoration: none;
}

img {
  width: 90%;
  /* border: 2px solid #6a1400; */
  border-radius: 5px;
}

p {
  line-height: 1.7;
}

/* Utility Class */
.container {
  max-width: 1100px;
  overflow: auto;
  margin: auto;
  padding: 0 1.5rem;
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.bold {
  font-weight: bold;
}

/* Navbar */

#navbar {
  position: sticky;
  top: 0;
  background-color: navy;
  background-color: #5d2f86;
  color: #fff;
  z-index: 2;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.25rem 0;
  margin-right: 1.75rem;
  font-size: 1rem;
}

#navbar ul li a:hover {
  border-bottom: 2px solid #ffe000;
}

#navbar ul li a.phone {
  border: 1px solid #fff;
  padding: 7px 10px;
}

#navbar ul li a.phone:hover {
  border: 1px solid #ffe000;
  color: #ffe000;
}

.phone-mobile {
  display: none;
}
.current {
  border-bottom: 2px solid #ffe000;
}

/* Footer */

#footer .container {
  display: flex;
  justify-content: space-between;
  border-top: 0.1px solid #5d2f86;
}

#copyright {
  display: block;
  margin: auto;
}

/* Home */
#main-heading i {
  color: #e31b23;
  transition: transform 0.2s;
  transition: transform 0.5s;
}
#main-heading i:hover {
  transform: scale(1.25);
}
#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  padding: 3rem 0;
}
.home-contact h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #5d2f86;
}

#main-heading {
  text-align: center;
  margin-top: 1.5rem;
}

#main-heading span {
  padding: 5px 10px;
  border-radius: 5px;
}

#home .home-container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  background-color: #fff;
  border-radius: 10px;
}

#home .home-container-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12px;
  background-color: #f9f9f9;
  background-color: #f3f3f3;
  background-color: #fff;
  border-radius: 10px;
}

#home .home-container-right-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-evenly;
  align-items: center;
}

#home .home-container-left img {
  margin-top: 2rem;
  width: 100%;
}

#home .home-container-right-left img,
#home .home-container-right-right img {
  width: 150px;
  width: 170px;
  width: 180px;
  height: auto;
  /* width: 100%; */
}

#home .home-container-right-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-evenly;
  align-items: center;
}

#home .home-container-right-right div h3 {
  text-align: center;
}

address h4 {
  /* font-family: 'Roboto', sans-serif; */
  font-style: normal;
  font-weight: bolder;
  margin: auto;
  text-align: center;
}

address h4.email {
  /* font-family: 'Roboto', sans-serif; */
  font-style: normal;
  font-weight: bolder;
  margin: auto;
  font-size: 14px;
  border-bottom: 1px solid #5d2f86;
  padding-bottom: 5px;
}

/* About */

#about {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-column-gap: 40px;
}

#about .about-left,
#about .about-right {
  /* height: 100vh; */
  background-color: #f3f3f3;
  background-color: #fff;
  border-radius: 10px;
}

#about .about-left img {
  display: block;
  margin-top: 2rem;
  width: 500px;
  width: 100%;
}

#about .about-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

#about .about-right img {
  width: 82%;
}

/* Services */

#services {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 40px;
}

#services .services-left {
  padding: 1.5rem;
  background-color: #f3f3f3;
  background-color: #fff;
  border-radius: 10px;
}

#services .services-left h1,
#services .services-left h2,
#services .services-left h4 {
  padding: 10px 1rem;
}

#services .services-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
  background-color: #f3f3f3;
  background-color: #fff;
  border-radius: 10px;
}

#services .services-right img {
  display: block;
  margin: auto;
  width: 100%;
}
#services ul {
  list-style: none;
}

#services ul li {
  padding: 10px 1rem;
}

/* Contact */

#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.map {
  display: block;
  margin: auto;
  width: 100%;
}

.contact-left {
  padding: 1.5rem;
  background-color: #f3f3f3;
  background-color: #fff;
  border-radius: 10px;
}

#contact img {
  display: block;
  width: 100%;
  margin-top: 2rem;
}

#contact form {
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
}

#contact form h3 {
  text-align: center;
}

#contact form input,
#contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

#contact form textarea {
  resize: none;
}

#contact form .form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact form input[type='submit'] {
  background-color: #ffe000;
  border: 1px solid #ffe000;
  color: #000;
}

.submit-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#contact form input[type='submit']:hover {
  background-color: #000;
  border: 1px solid #000;
  color: #ffe000;
}

/* testing underline animation */
/** Hover-related CSS **/

#examples .example {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 0 45px;
}
#examples .example .hover {
  font-size: 36px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}
#examples .example .hover:before,
#examples .example .hover:after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background-color: #e69500;
}

#examples .example .hover.hover-3:before {
  left: 50%;
}
#examples .example .hover.hover-3:after {
  right: 50%;
}

#examples .example:hover {
  cursor: pointer;
}
#examples .example:hover .hover:before,
#examples .example:hover .hover:after {
  width: 100%;
  opacity: 1;
}
#examples .example:hover .hover.hover-3:before,
#examples .example:hover .hover.hover-3:after {
  width: 50%;
}
